<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700" rel="stylesheet" type="text/css">
		<style type="text/css">
			body {
				font-size: 11px;
				font-family: "Source Sans Pro",sans-serif;
				font-weight: 300;
				color: #334b56;
			}

			h1 {
				font-size: 2rem;
				font-weight: 400;
				line-height: 1.1;
				color: inherit;
				margin-top: 0;
				margin-bottom: 1rem;
			}

			h2 {
				font-size: 1.8rem;
				font-weight: 400;
				line-height: 1.1;
				color: inherit;
				margin-top: 0;
				margin-bottom: 0.8rem;
			}

			h3 {
				font-size: 1.6rem;
				font-weight: 400;
				line-height: 1.1;
				color: inherit;
				margin-top: 0;
				margin-bottom: 0.6rem;
			}

			h4 {
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.1;
				color: inherit;
				margin-top: 0;
				margin-bottom: 0.5rem;
			}

			table {
				border: 0;
				margin: 0;
				padding: 0;
				width: 100%;
			}

			td {
				vertical-align: middle;
				text-align: left;
			}
		</style>
		<title>Literatuurlijst {{ program_title }} - {{ stage_title }}</title>
	</head>
	<body>
		<table>
			<tr>
				<td colspan="4">
					<h1>{{ program_title }} - {{ stage_title }}</h1>
				</td>
				<td width="128">
					<img src="https://www.acco.be/Acco/design/images/logo-acco.png" alt="ACCO"/>
				</td>
			</tr>
			<tr>
				<td colspan="5">
					<p><b>Let heel goed op dat je zeker bent dat je het vak volgt of moet volgen, voor je het boek koopt. Afhankelijk van welke optie je volgt kan een bepaald vak niet verplicht zijn, ondanks de vermelding op deze lijst!</b></p>
					<p><b>Wijzigingen onder voorbehoud. Deze lijst werd samengesteld op basis van beschikbare gegevens. Voor updates kan u terecht op onze website <a href="http://www.acco.be/literatuurlijsten">www.acco.be/literatuurlijsten</a></b></p>
					<p><b>Het is aangeraden om uw lijst opnieuw af te drukken vlak voor u naar de winkel gaat, zodat u de meest recente informatie bevat.</b></p>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td style="padding-left: 20px; padding-right: 10px" width="100"><b>- ISBN</b></td>
				<td><b>Titel</b></td>
				<td width="100"><b>Verplicht boek?</b></td>
				<td width="100"><b>Prijs</b></td>
				<td width="100"><b>ACCO ledenprijs</b></td>
			</tr>
		</table>
		{% for course in output_structure %}
			{% if (not hide_empty_courses) or (course.items|length > 0) %}
				<table>
					<tr>
						<td colspan="3"><h4>{{ course.id }} - {{ course.title }}</h4></td>
						<td width="100">
							{% if course.period == 1 %}
								1ste semester
							{% elseif course.period == 2 %}
								2de semester
							{% elseif course.period == 3 %}
								Jaarvak
							{% else %}
								Onbekend semester
							{% endif %}
						</td>
						<td width="100" align="right">
							{% if course.mandatory == "True" %}
								Verplicht vak
							{% else %}
								Keuzevak
							{% endif %}
						</td>
					</tr>
					{% if course.items|length > 0 %}
						{% for item in course.items %}
							<tr>
								<td style="padding-left: 20px; padding-right: 10px" width="100">- {{ item.id }}</td>
								<td>{{ item.title }}</td>
								<td width="100">
									{% if item.mandatory == "true" %}
										Verplicht boek
									{% else %}
										Keuze boek
									{% endif %}
								</td>
								<td width="100">{{ item.price }}</td>
								<td width="100">{{ item.accoprice }}</td>
							</tr>
						{% endfor %}
					{% endif %}
				</table>
			{% endif %}
		{% endfor %}
		<table>
			<tr>
				<td style="text-align: center">
					<p>ACCO cvba - Maria-Theresiastraat 2-4 - 3000 Leuven | www.acco.be </p>
				</td>
			</tr>
		</table>
	</body>
</html>